#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.name{
  padding: 15px;
  border-radius: 5px;
}

.name-label{
  display: flex;
  flex-direction: column;
}
